<html lang="en-us">
  <%- include('./partials/nav.ejs') %>
  <body>
      <!--Title for subject of webpage/site-->
      <h1>404, Oops!</h1>
        <p>The website address you've tried does not exist.</p>

      <!--Contact info, other legal info specified by assignment/client-->
    <footer>
      <br>
      <%- include('./partials/nav.ejs') %>
    </footer>
  </body>
</html>