<html lang="en-us">
  <%- include('./partials/head.ejs') %>
  <body>
      <h1>Survey</h1>
      
      <div>
        <!--This form should Post to the results page, and fill the previous results on home page. maybe-->
        
        <form action="/results" method="POST">  
        <h3 class="title">Survey</h3>
          <!--Choose Addition -->
          <p>
            
          </p>
          <br>
          <input type="button" onclick="" value="submit">
        </form>
      </div>
    <footer>
      <br>
      <%- include('./partials/nav.ejs') %>
    </footer>
  </body>
</html>